*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
    background-color: white;
}
.grid-container > div {
    padding: 10px;
    font-size: 16px;
}
.item1{
    grid-area: header;
    text-align: center;
    background-color: blue;
    color: white;
}
.item1 > h1 {
    font-size: 40px;
}
.item2{
    grid-area: menu;
}
.item2 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
}
.item2 li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: aqua;
}
.item2 li:hover{
    background-color: lightblue;
}
.item3{
    grid-area: main;
}
.item3 > h1{
    font-size: 30px;
    margin-bottom: 7px;
}
.item3 > p {
    margin-bottom: 7px;
}
.item4 {
    grid-area: right;
    border: 2px solid lightblue;
    background-color: white;
    padding: 15px;
    color: black;
}
.item4 > h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.item4 li {
  padding: 5px;
  margin-bottom: 5px;
}
.item5{
    grid-area: footer;
    text-align: center;
    background-color: darkblue;
    color: white;
    margin-top: 250px;
}
/* Orientation: Portrait / Landscape */

/* @media only screen and (max-width: 600px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 6;}
  .item3 {grid-area: 3 / span 6;}
  .item4 {grid-area: 4 / span 6;}
  .item5 {grid-area: 5 / span 6;}
} */

/* Orientation: Portrait / Landscape */
/* @media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
} */

/* Hide Elements With Media Queries */

/* @media only screen and (max-width: 700px){
    div.item4{
        display: none;
    }
} */


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  div.item3 {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.item3 {
    font-size: 30px;
  }
}